[SddmGreeterTheme]
Name=RAGOS Sugar Light
Description=Variante Sugar Light com branding do RAGOS
Author=RAGOS
Copyright=Copyright (C) RAGOS
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/RAGEnterprise/ragos
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=ragos-sugar-light
Theme-API=2.11
