[SddmGreeterTheme]
Name=NODE Control
Description=Tema SDDM dark com linguagem operacional do NODE
Author=NODE
Copyright=Copyright (C) NODE
License=GPL-3.0-or-later
Type=sddm-theme
Version=2.0
Website=https://github.com/RAGEnterprise/node
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=node-control
Theme-API=2.11
QtVersion=6
