[SddmGreeterTheme]
Name=RAGOS Control
Description=Tema SDDM dark com linguagem operacional do RAGOS
Author=RAGOS
Copyright=Copyright (C) RAGOS
License=GPL-3.0-or-later
Type=sddm-theme
Version=2.0
Website=https://github.com/RAGEnterprise/ragos
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=ragos-control
Theme-API=2.11
QtVersion=6
