[SddmGreeterTheme]
Name=Kryonix Aurora
Description=Tema SDDM Kryonix — dark navy, accent #38BDF8, minimalista e declarativo
Author=Kryonix
Copyright=Kryonix
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/RAGton/kryonix
Screenshot=assets/screenshot.svg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=kryonix-aurora
Theme-API=2.0
QtVersion=6
