[SddmGreeterTheme]
Name=Kryonix SDDM Clean
Description=Tema SDDM moderno, sobrio e legivel do Kryonix
Author=Kryonix
Copyright=Kryonix
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/RAGton/kryonix
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=kryonix-clean
Theme-API=2.0
QtVersion=6
